<div class='container home-card__usd-to-rub'>
  <div class='card-deck mb-3 text-center'>
    <div class='card mb-4 shadow-sm'>
      <div class='card-header'>
        <h4 class='my-0 font-weight-normal'>USD to RUB</h4>
      </div>
      <div class='card-body'>
        <h1 class="card-title pricing-card-title" id='usd'> <%= @usd_rate %></h1>
      </div>
    </div>
  </div>
</div>
